@model EmployeeDB.Model.SelectLists
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <h1>My First MVC Project</h1>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body ">
                <div class="form-horizontal" id="freeze">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <h2>Getting Employees</h2>
                            @Html.DropDownList("employee", Model.EmployeeList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div id="gridalerts"></div>
            <div id="gridEmpl"></div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $("#gridEmpl").jsGrid({
                // self: this,
                width: "100%",
                height: "auto",
                autoload: true,
                pageLoading: true,
                editing: true,
                filtering: false,
                sorting: true,
                paging: true,
                pageSize: 30,
                pageButtonCount: 3,
                pageNextText: ">",
                pageLastText: ">>",
                pagePrevText: "<",
                pageFirstText: "<<",
                fields: [
                    { title: "First Name", name: "firstName", type: "input", width: 50 },
                    { title: "Last Name", name: "lastName",type:"input", width: 50 },
                    { title: "Department", name: "occupation", type: "input", width: 50 },
                    { title: "email", name: "email", type: "input", width: 50 }
                ],
                controller: {
                    loadData: function (filter) {

                        //filter["Id"] = 0;
                        //filter["occupation"] = "";

                        var d = $.Deferred();

                        return $.ajax({
                            url: '@Url.Action("GetEmployee", "Home")',
                            type: 'GET',
                            dataType: "JSON",
                            data: filter

                        }).done(function (response) {
                            d.resolve(response);
                        })
                    }
                }

            });
    </script>
}